*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    background-color: #292F36;
    color: White;
}

.span-azul {
    color: #12F7D6;
}

/* Header Styles */

header {
    background-color: #292F36;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 90%;
    height: 100px;
    border-bottom: #4b4b4b solid 1px;
}

.nome-header {
    font-size: 22px;
    font-weight: 400;
    width: 100%;
}

.header a {
    text-decoration: none;
    font-weight: bold;
    font-weight: 400;
}

.navegacao-header, .link-redes-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    padding: 10px 0;
}

.navegacao-header {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 18px;
}

.link-redes-header {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 16px;
}


@media (max-width: 1250px) {
    header {
        flex-direction: column;
        align-items: center;
    }
}